<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_PATTERN">
            [%d{HH:mm:ss.SSS}] [%t] [%X{scenario}] %-5level %logger{36} - %msg%n
        </Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile name="FileLogger"
                     fileName="target/logs/framework.log"
                     filePattern="target/logs/framework-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>

        <!-- Reduce Selenium noise -->
        <Logger name="org.openqa.selenium" level="WARN"/>
        <Logger name="io.appium" level="WARN"/>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>
</Configuration>
